@import "../Styles/Estilos\(importados\).css";

main{
    background-color: #ffffff;
}

.Libros{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.Libros img{
    width: 60%;
 
}
.Libros div{
    width: 80%;
    padding: 2%;
    margin:30px;
    
}

.front{
    margin: auto;
    padding: auto;
}
.back{
    margin: auto;
    padding: auto;
    align-items: center;
}

.Titulo_Catalogo{
    text-align: center;
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
