@import "../Styles/Estilos\(importados\).css";

main{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
}

#sign-in{
    width: 70%;
	height: 100%;
	background-color: #108cffea;
	border: 5px solid #0004ff;
	padding: 20px;
	margin: 0 auto;
	margin-top: 100px;
	box-shadow: 0px 0px 10px #847dbe;
}

.Titulo_Registro{
    color: #fff;
    font-family: "Bona Nova SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}

#sign-in label{
    display: flexbox;
    width: 60%;
    margin-bottom: 15px;
    text-align: center;
}

#sign-in input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #847dbe;
    border-radius: 5px;
    box-sizing: border-box;
}

#sign-in input[type="submit"]{
    width: 100%;
    padding: 10px;
    background-color: #44f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#sign-in input[type="submit"]:hover {
    background-color: #00f;
}

#sign-in p {
    text-align: center;
    margin-top: 15px;
    color: #fff;
}

#sign-in p a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%
}